.largeImg {
  min-width: 70%;
  min-height: 30vh;
}
@media only screen and (min-width: 1280px) {
  .card {
    transition: transform 0.3s;
    cursor: pointer;
    user-select: none;
  }
  .card:hover {
    transform: scale(1.1);
    
  }
}

#nprogress .bar {
  height: 3px !important;
}
body {
  padding: 1px;
}
html.dark {
  background-color:#171717;
}
.slider {
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background-color: #eee;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0774af;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.slider:before {
  border-radius: 50%;
}
