.scroll-top {
    animation: scrollBtn .5s;
}
@media only screen and (min-width: 1280px) {
    .card {
        transition: transform .3s;
        user-select: none;
    }
    .card:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    .card img, .scroll-top {
        animation: appear .5s;
    }
}

@keyframes scrollBtn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

body {
    min-height: 101vh;
}
#nprogress .bar {
    height: 3px!important;
}